body{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #e0fbf6;
    font-size: 20px;
    font-family: 'Sail', cursive;
}

h1{
    text-align: center;
    color: #6b8baf;
    border-radius: 25px;
    border: 3px solid black;
    font-family: 'Sail', cursive;
    text-shadow: 2px 2px black;
}
h2{
    font-size: 40px;
    text-align: center;
    margin: 0px;
    width: 100%;
    background-color: #6b8baf;
    border-radius: 25px;
    border: 3px solid black;
}
h3{
    text-align: center;
    margin-left: 150px;
    font-size: 30px;
    width: 75%;
    background-color: #6b8baf;
    border-radius: 25px;
    border: 3px solid black;
}
h4{
    text-align: center;
    font-size: 30px;
}
h5{
    text-align: center;
    font-size: 25px;
    width: 50%;
    background-color: #6b8baf;
    border-radius: 25px;
    border: 3px solid black;
}
h6{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 0px;
}
p{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}
nav{
    background-color: #6b8baf;
    width: 100%;
    margin: 0px;
    border-radius: 25px;
    border: 3px solid black;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
    margin-top: 0px;
}
nav ul li img{
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
}
ul li a{
    color: black;
    display: block;
    list-style-type: none;
    padding-inline: 90px;
    font-size: 18px;
}
a:hover {
    color: rgb(0, 0, 255);
}
section div ul li{
    background-image: url(figure-skating.png);
    background-position: 40%, 40%;
    background-repeat: no-repeat;
    list-style-type: none;
}
section ul li{
    background-image: url(figure-skating.png);
    background-position: 0%, 0%;
    padding-left:20px;
    background-repeat: no-repeat;
    list-style-type: none;
}
ol li{
    margin-left: 300px;
    text-align: left;
}
a{
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 255);
}
table tr th{
    border: 2px solid black;
    text-align: center;
}
table tr td{
    border: 2px solid black;
    text-align: center;
}
table{
    border-collapse:collapse;
}
th td{
    padding: 200px;
}
th{
    font-size: 20px;
    background-color: #6b8baf;
}
td{
    background-color: #91c4ff5d;
}
figure img{
    padding: 0px;
    border: 2px solid black;
}
iframe{
    border: 2px solid black;
}
figure figcaption{
    text-align: center;
    font-size: 15px;
    padding-left: 0px;
    width:90%;
}
footer{
    color: black;
    margin-top: 70px;
    text-align: center;
    border-radius: 25px;
    border: 3px solid black;
    background-color: #6b8baf;
    font-size: 18px;
}
footer div ul li{
    list-style-type: none;
}
footer p{
    text-align: center;
}
.width-30{
    float: left;
    width: 30%;
    margin-left: 0%;
}
.width-50{
    float: left;
    width: 50%;
    margin-right: 0%;
    text-align: center;
}
.width-100{
    float: left;
    width: 100%;
}
.center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 100px;
}
.source{
    font-size: 15px;
    text-align: center;
    margin-right: 50px;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.middle{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-left: 100px;
}
.threePic{
    padding-left: 40px;
}
.button{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 15px;
    background-color: #6b8baf;
    border-radius: 25px;
    border: 3px solid black;
}
.medalCount{
    display: inline;
    list-style-type: none;
    margin-left:175px;
    padding-inline: 2.7%;
    font-size: 20px;
    font-weight: bold;
}
#skate{
    background-image: url(figureskate.png);
    background-color: black;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#skateTitle{
    font-size: 90px;
    height: 350px;
    background-color: rgba(168, 168, 184, 0.438);
    margin: 0px;
    padding-top: 150px;
    width: 100%;
}
#box{
    padding: 15px;
    border-radius: 25px;
    border: 3px solid black;
}
#image-responsive{
    max-width: 100%;
    height: auto;
}